body
{
  margin: 0px;
  padding: 0px;
}

.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.player
{
  width: 100%;
  max-width: 1000px;
  position: relative;
  overflow: hidden;
}

.video
{
  width: 100%;
}

.player-controls
{
  /* display: flex; */
  position: absolute;
  bottom: 0;
  width: 100%;
  /* flex-wrap: wrap; */
  background: rgba(0,0,0,0);
  transform: translateY(100%) translateY(-4px);
  transition: all .2s;
}

.player:hover .player-controls
{
  transform: translateY(0);
}

.buttons #play-pause-button, #fullscreen-windowed-button
{
  padding: 10px;
  border: 0;
  width: 40px;
  height: 40px;
  background: none;
  overflow: hidden;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
}

#fullscreen-windowed-button
{
  position: absolute;
  right: 0;
}

#togglePlay-image, #togglePause-image
{
  width: 20px;
  height: 20px;
}

.button-content
{
  fill: #fff;
}

.video-progressbar
{
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(142, 64, 0, 0.2);
}

.progressbar-filled
{
  height: 4px;
  background-color: orangered;
  transition: height .1s;
}

.video-progressbar:hover .progressbar-filled
{
  height: 6px;
}
