body
{
  margin: 0px;
  padding: 0px;
}

.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.player
{
  width: 100%;
  max-width: 1000px;
  position: relative;
  overflow: hidden;
  /* box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px; */ /*dell*/
}

.video
{
  width: 100%;
  /* transform:scale(1.398); */ /*dell*/
  z-index: 1 !important;
  /* display: contents; */
}

/* .video_bg */ /*dell*/ 
/* { */
  /* top: 0; */
  /* margin: 0; */
  /* padding: 0; */
  /* height: 100vh; */
  /* position: absolute; */
  /* width: 100%; */
  /* z-index: -1 !important; */
  /* display: contents; */
/* } */

.player-controls
{
  /* display: flex; */
  position: absolute !important;
  z-index: 2147483647 !important;
  bottom: 0;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
  width: 100% !important;
  /* flex-wrap: wrap; */
  background: rgba(0,0,0,0);
  /* transform: translateY(100%) translateY(-4px); */
  -moz-transform: translateY(100%) translateY(-4px); !important;
  -ms-transform: translateY(100%) translateY(-4px); !important;
  -webkit-transform: translateY(100%) translateY(-4px); !important;
  transition: all .2s;
}

.player:hover .player-controls
{
  /* padding-left: 10px;
  padding-right: 10px; */
  transform: translateY(0);

}

.buttons #play-pause-button, #fullscreen-windowed-button, #settings-button, #volume-button
{
  padding: 10px;
  border: 0;
  width: 40px;
  height: 40px;
  background: none;
  overflow: hidden;
  white-space: nowrap;
  outline: none;
  cursor: pointer;
}

#fullscreen-windowed-button, #settings-button
{
  /* position: absolute; */
  float: right;
}

#togglePlay-image, #togglePause-image, #settings-image, #volume-image
{
  width: 20px;
  height: 20px;
}

#settings-button:hover
{
  transition: 2s;
  transform: rotate(45%);
}

.button-content
{
  transition: fill .2s;
  fill: rgba(255, 255, 255, 0.8);
}

.button-content-stroke
{
  transition: stroke .2s;
  stroke: rgba(255, 255, 255, 0.8);
  stroke-width: 3;
  stroke-linecap: round;
  fill: none;
}

button:hover .button-content
{
  fill: rgba(255, 255, 255, 1);
}

button:hover .button-content-stroke
{
  stroke: rgba(255, 255, 255, 1);
}

.video-progressbar
{
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(142, 64, 0, 0.2);
}

.progressbar-filled
{
  height: 4px;
  background-color: orangered;
  transition: height .1s;
  /* padding-top: 3px; */
}

.video-progressbar:hover .progressbar-filled
{
  height: 6px;
}

video::-webkit-media-controls {
  display:none !important;
}

video::-webkit-media-controls-enclosure {
  display:none !important;
}

video::-webkit-full-screen {
  background: white !important;
  /* display:none !important; */
}

video::-webkit-full-screen::backdrop
{
  background: white !important;
}
